
:root{
  --white : #f4f4f4;
  --black : #202020;
  --red : #ee6699;
  --size : 3px;
}
.spike {
  stroke: var(--white);
  stroke-width: calc(var(--size) * 2);
}
.digital {
  fill: var(--white);
  text-anchor: middle;
  font-size: calc(var(--size) * 10);

}
.clock {
  fill: var(--black);
  stroke: var(--white);
  stroke-width: calc(var(--size) * 4);
}
.hands {
  fill: var(--white);
  stroke: var(--black);
  stroke-width: calc(var(--size) * 1);
}
.triangle {
  fill: var(--red);
}