@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  height: 100vh;
  font-family: 'Graduate', cursive;
}